<img class="img-rounded img-responsive" src="/img/peter_opcrm_hoodie.jpg
" alt="peter image"/>

{{ feature_image }}
<hr/>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Peter Armstrong</h3>
  </div>
  <div class="panel-body">
    <p>A Peter Armstrong.</p>
    <p>From Sligo, currently living in Cork, Ireland.</p>
    <p>Studying Marine Renewable Energy at University College Cork.</p>
    <p>Previously web applications developer at <a href="http://onepagecrm.com">OnePageCRM</a> and <a href="http://visualid.com">VisualID</a>.</p>
    <p>Interested in boats, bicycles, computers and the outdoors.</p> 
  </div>
</div>
<hr/>
