<img class="img-rounded img-responsive" src="/img/peter_climbing.jpeg
" alt="peter image"/>

{{ feature_image }}
<hr/>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Peter Armstrong</h3>
  </div>
  <div class="panel-body">
    <p>From Sligo, Ireland, currently living in Glasgow, Scotland.</p>
    <p>Flight Sciences at <a href="http://kps.energy">KPS.energy</a></p>
    <p>Previously web applications developer at <a href="http://onepagecrm.com">OnePageCRM</a> and <a href="http://visualid.com">VisualID</a>.</p>
    <p>Before that, owner of LSDKiteboarding and Rosses Point Guesthouse.</p>
    <p>Interested in sustainability, boats, bicycles and the outdoors.</p> 
  </div>
</div>
